# IntelliJ
.idea/

# macOS
.DS_Store

# JUnit
TEST-*
**/scripts/*-out.xml
**/scripts/from
**/scripts/to
/log4j.dtd
/storedXml
/temp/

# Build files
build/

# Log files
*.log

# Package files
*.jar
*.zip
*.tar.gz

# JVM crash logs
hs_err_pid*
